html,
body {
  margin: 0;
  min-height: 100%;
  height: 100%;
}
#root {
  min-height: 100%;
  height: 100%;
  /* position: relative; */
  /* z-index: 1; */
}

#svg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 64px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
#svg svg {
  overflow: visible;
}
